# SESION 1 BEDU PROCESAMIENTO DE DATOS CON PYTHON
Sesion 1

In [8]:
import math

In [13]:
var1=4
var2=10
var3=6
var4=8
var5=2

In [14]:
var1+var2

14

In [15]:
var3-var2

-4

In [16]:
var3*var1

24

# TIPOS DE DATOS

* Número entero __int__
* Numero decimal __float__
* Texto __string__

In [20]:
type(var1)
var2=5.555
type(var2)
var3='TERRON'
type(var3)

str

#  RETO 3

In [22]:
nombre_1 = "Jenny"
nombre_2 = "Marco P."

edad_1 = 110
edad_2 = 42

estrella_1 = "Woopsie Doopsies"
estrella_2 = "Omega-3"
estrella_3 = "Justin Bieber"
estrella_4 = "La Twinkle"
estrella_5 = "Rosaberta"

total_de_nombres_de_estrellas_mencionados = 5
numero_de_estrellas_deseadas = 325

In [29]:
print(f"{nombre_1} y {nombre_2} son grandes amigues. Les mejores. Van y vienen juntos desde hace décadas. Sí, décadas. {nombre_1} tiene {edad_1} años y {nombre_2} {edad_2}. Si sumas sus edades, obtienes {edad_1 + edad_2}, que curiosamente es el número de estrellas que {nombre_1} y {nombre_2} han nombrado juntos. Sus estrellas son su mayor fascinación. Las compraron en Best Buy en una ganga de objetos celestes. Están {estrella_1}, {estrella_2}, {estrella_3}, {estrella_4}, {estrella_5} y otras {edad_1 + edad_2 - total_de_nombres_de_estrellas_mencionados} estrellas más. {nombre_1} y {nombre_2} tienen planeado sobrevivir hasta el siglo XXII. ¡Cuántas estrellas más habrán de comprar y nombrar juntos! Su meta es {numero_de_estrellas_deseadas}. Sólo faltan {numero_de_estrellas_deseadas - edad_1 + edad_2}. ¡Vamos {nombre_1} y {nombre_2}! {nombre_1} y {nombre_2} son les mejores amigues. No hay duda alguna.")

Jenny y Marco P. son grandes amigues. Les mejores. Van y vienen juntos desde hace décadas. Sí, décadas. Jenny tiene 110 años y Marco P. 42. Si sumas sus edades, obtienes 152, que curiosamente es el número de estrellas que Jenny y Marco P. han nombrado juntos. Sus estrellas son su mayor fascinación. Las compraron en Best Buy en una ganga de objetos celestes. Están Woopsie Doopsies, Omega-3, Justin Bieber, La Twinkle, Rosaberta y otras 147 estrellas más. Jenny y Marco P. tienen planeado sobrevivir hasta el siglo XXII. ¡Cuántas estrellas más habrán de comprar y nombrar juntos! Su meta es 325. Sólo faltan 257. ¡Vamos Jenny y Marco P.! Jenny y Marco P. son les mejores amigues. No hay duda alguna.

In [30]:
var_1 = 3
var_2 = 5
var_3 = 9
var_4 = 1
var_5 = 9
var_6 = -6
var_7 = 5
var_8 = 4

var_1 > var_3  # Resultado esperado: False

var_1> var_4 # Resultado esperado: True

var_2 >=var_7  # Resultado esperado: True

var_8 >var_6  # Resultado esperado: True

var_3 >var_5  # Resultado esperado: False

var_1 <var_3  # Resultado esperado: True

var_5 <var_4  # Resultado esperado: False

var_3 <=var_5  # Resultado esperado: True

True